# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
cfg
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.pak
*.exe
*.sw?
BTD_Launcher.aip
BTD_Launcher.back(21.2.2).aip
BTD_Launcher-cache/part2/BTD_Launcher1.cab
cfg/update/local.db
